body {
  background: #f0f0f0;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  display: block;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: #505b81;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

.btn-blue {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  background-color: #717aff;
  color: whitesmoke;
  font-weight: 600;
  font-size: 16px;
  transition-duration: 0.2s;
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.5s;
}

.btn-blue:hover {
  background-color: #4a56fd;
  color: whitesmoke;
}

ul {
  margin: 0 auto;
  padding: 10px;
}

a {
  color: #b0b0b0;
  transition: 0.5s;
}

a:hover {
  color: #8d8d8e;
}

img {
  height:125px;
  border-radius: 45%;
  margin: 10px;
}

p {
  margin: 30px;
}

.no_style_li {
  list-style-type: none;
  display: inline;
  margin: 0  auto;
  padding: 10px;
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.cards {
  background: white;
  box-shadow: 10px 10px #e8e8e8;
  border-radius: 2%;
  padding: 10px 20px 40px 20px;
  margin: 10px 0 20px 0;
}
